#nav,
.flex,
.margin-auto,
.row,
.section-5-children,
.section-5-children-2,
nav {
  display: flex
}

.about-img,
.main-bg {
  background-size: cover
}

.footer-link ul,
body,
html {
  padding: 0
}

.footer-link ul li a,
.navlink a,
.project-link,
.site-cta-link {
  text-decoration: none
}

* {
  box-sizing: border-box
}

body,
html {
  margin: 0;
  font-family: Tahoma;
  overflow-x: hidden
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  width: 100%;
  padding-right: var(--bs-gutter-x, .75rem);
  padding-left: var(--bs-gutter-x, .75rem);
  margin-right: auto;
  margin-left: auto
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x)/ -2);
  margin-left: calc(var(--bs-gutter-x)/ -2)
}

.txt-center {
  text-align: center
}

.navlink a:hover,
.txt-white {
  color: #ffff
}

.margin-auto {
  margin: auto
}

.p-30 {
  padding: 30px
}

.p-50 {
  padding: 50px
}

.py-50 {
  padding: 50px 0
}

.py-100 {
  padding: 100px 0
}

.py-150 {
  padding: 150px 0
}

.px-50 {
  padding: 0 50px
}

.pt-50 {
  padding-top: 50px
}

.pt-100 {
  padding-top: 100px
}

.pt-150 {
  padding-top: 150px
}

.pb-50 {
  padding-bottom: 50px
}

.pb-100 {
  padding-bottom: 100px
}

.pb-150 {
  padding-bottom: 150px
}

.line-h-15 {
  line-height: 1.5
}

.align-items-center {
  align-items: center
}

.text-justify {
  text-align: justify
}

nav {
  width: 100%;
  height: 70px;
  align-items: center;
  justify-content: space-around;
  background: #232323;
  color: #ccc
}

.logo {
  letter-spacing: 3px
}

.nav {
  justify-content: space-around;
  width: 30%
}

.fa-bars,
.fa-times {
  background-repeat: no-repeat;
  width: 24px;
  height: 24px
}

.navlink {
  list-style: none;
  margin: 0
}

.navlink a {
  color: #ccc;
  font-size: 1.2em
}

.burger {
  font-size: 1.2em;
  display: none
}

.fas,
.footer-link ul li {
  display: inline-block
}

.fa-bars {
  background-image: url("data:image/svg+xml,%3Csvg%20fill%3D%22%23FFFF%22%20width%3D%2224%22%20height%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M14%2019h-14v-1h14v1zm9.247-8.609l-3.247%204.049-3.263-4.062-.737.622%204%205%204-5-.753-.609zm-9.247%202.609h-14v-1h14v1zm0-6h-14v-1h14v1z%22%2F%3E%3C%2Fsvg%3E")
}

.fa-times {
  background-image: url("data:image/svg+xml,%3Csvg%20fill%3D%22%23FFF%22%20width%3D%2224%22%20height%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M12%2011.293l10.293-10.293.707.707-10.293%2010.293%2010.293%2010.293-.707.707-10.293-10.293-10.293%2010.293-.707-.707%2010.293-10.293-10.293-10.293.707-.707%2010.293%2010.293z%22%2F%3E%3C%2Fsvg%3E")
}

.main-bg {
  background-image: url('./assets/img/bg1.webp')
}

.about {
  padding: 0 30px
}
.about-img{
  overflow: hidden;
  position: relative;
}
.about-img img{
  object-fit: contain;
  height: 100%;
  width: 100%;
}
.main-button {
  background: #21209c;
  color: #fff;
  border: none;
  padding: 10px 40px;
  cursor: pointer;
  display: flex
}

.main-button:hover {
  background: #13137a
}

.cta-text {
  margin: 0 10px
}

.site-cta {
  margin-right: 25px
}

.intro-text {
  line-height: 165%;
  font-size: 1.1em
}

.intro-text p {
  margin-bottom: 25px
}

.site-title {
  font-size: 2.4rem;
  margin-top: 0
}

.cta-signature {
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  align-items: center
}

.quote {
  font-style: italic
}

.section-2,
.section-3 {
  background: #232323
}

.section-2 div p {
  color: #ffff;
  padding: 0 0 0 50px;
  margin: 0
}

.section-2_child {
  display: flex;
  flex-direction: row
}

.row-projects {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px
}

.column-projects {
  -ms-flex: 25%;
  flex: 25%;
  max-width: 25%;
  padding: 0 4px
}

.column-projects img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projects-parent {
  margin-top: 8px;
  cursor: pointer;
  overflow: hidden;
  max-width: 100%;
  height: auto
}

.parent-size_1 {
  height: 200px;
  width: 269px
}

.parent-size_2 {
  height: 250px;
  width: 269px
}

.parent-size_3 {
  height: 350px;
  width: 269px
}

.parent-size_4 {
  height: 400px;
  width: 269px
}

.parent-size_5 {
  height: 500px;
  width: 269px
}
.project-link {
  font-size: 16px;
  color: #fff !important;
  font-family: sans-serif;
  text-align: center;
  margin: auto;
  bottom: 0;
  right: 0;
  height: 50px;
  cursor: pointer;
  position:relative;
}
.project-link:hover > img{
  opacity: .55;
}
.project-link:hover > .project-text{
  display: block;
}
.project-text{
  position: absolute;
  bottom: 3rem;
  right:0;
  left: 0;
  display:none;
}
.projects-child {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  transition: .5s
}
.projects-parent:focus .projects-child,
.projects-parent:hover .projects-child {
  -ms-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1)
}
.section-4 div img {
  height: 50px;
  width: auto;
  margin-top: 50px;
  padding: 5px 15px
}
.project-bg {
  background-size: cover;
  height: auto;
  width: 500px;
  background-position: center;
  flex: 50%
}
.description-project {
  flex: 50%
}

.footer {
  text-align: center;
  background: #101010
}

.footer-end {
  color: #ccc;
  padding: 20px 0
}

.footer-link ul li {
  padding: 0 1%
}

.footer-link ul li a {
  color: #ccc
}

.footer-link ul li a:hover {
  color: #fffF
}

.in {
  background: #fffF
}

.in:hover {
  transform: scale(1.01)
}

.black-footer {
  background-color: #000;
  padding: 10px 0;
}

@media (min-width: 1201px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1140px
  }

  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
    align-self: center
  }

  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%
  }
}

@media (max-width: 1200px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 960px
  }

  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
    align-self: center
  }

  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%
  }
}

@media (max-width: 992px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 960px
  }

  .col-xl-7 {
    flex: 0 0 auto;
    width: 100%;
    align-self: center
  }

  .col-xl-5 {
    flex: 0 0 auto;
    width: 100%
  }

  .about-img {
    width: 50%;
    display: flex;
    margin: auto
  }

  .about {
    padding: 0 100px 100px
  }

  .section-2 div p {
    padding: 30px
  }

  .section-2_child {
    display: flex;
    flex-direction: column
  }
}

@media (max-width: 768px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 720px
  }

  .m-auto-mobile {
    margin: auto;
    display: flex
  }

  .about-img {
    width: 330px;
    height: 400px
  }

  .about {
    padding: 0 60px 60px 5%
  }

  .py-150 {
    padding: 70px 0
  }

  .column-projects {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%
  }

  .parent-size_5 {
    height: 300px;
    width: 269px
  }

  .parent-size_4 {
    height: 260px;
    width: 269px
  }

  .parent-size_3 {
    height: 240px;
    width: 269px
  }

  .project-2 {
    margin-top: 38px
  }

  #partners,
  .section-5-children {
    display: block
  }

  .section-4 div img {
    margin: 25px auto;
    display: block;
    height: auto;
    padding: 0 15px;
    width: 200px
  }

  .p-50 {
    padding: 30px
  }

  .py-100 {
    padding: 50px 0
  }

  .project-bg {
    background-size: cover;
    height: 500px;
    width: auto;
    background-position: center;
    flex: none
  }

  .column-reverse-mobile {
    flex-direction: column-reverse
  }

  .section-5-children-2 {
    display: flex
  }
}

@media (max-width: 576px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 540px
  }

  .cta-signature {
    display: block
  }
}

@media (max-width: 575px) {
  .burger {
    display: block
  }

  .nav {
    margin: 0;
    background: url('') #000;
    position: absolute;
    right: -100%;
    top: 70px;
    width: 50%;
    height: calc(100% - 70px);
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
    transition: .4s
  }

  #nav {
    display: none
  }

  .navlink {
    text-align: center
  }

  .nav-active {
    right: 0
  }

  .container {
    padding-left: 15px;
    padding-right: 15px
  }
}